*{
    box-sizing: border-box;
    margin: 0;
    
}

/*** 

FONTS:

font-family: 'Lora', serif;
font-family: 'Montserrat', sans-serif;

***/


/***** TITLE *****/

#title {
    font-family: 'Lora', serif;
    text-align: center;
    margin-top: 1.5em;
    font-size: 3rem;
}


/***** IMG   *****/

#image {
    display:block;
    height: auto;
    max-width: 100%;
    margin: 3em auto 0;
  
}

#img-caption{
    font-family: 'Montserrat', sans-serif;
    margin-top: 0.75em;
    text-align: center;
    line-height: 1.5;
}

.credit {
    font-style: italic;
}


/*****  INFO *****/

#tribute-info{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25rem;
    margin: 0 auto;
}

@media (min-width:1200px){
    #tribute-info{
        max-width: 50%;
    }
}

@media only screen and (min-width: 750px) and (max-width: 1200px){
    #tribute-info{
        max-width: 70%;
    }
}   

h2 {
    text-align: center;
    margin-top: 2em;
}

h3 {
    margin-top: 2em;
    margin-left: 1em;
}

p {
    margin-top: 1em;
    padding: 0 1.25em;
    line-height: 1.5;
    text-align: justify;
}

hr {
    margin-top: 2.5rem;
}

/***** FOOTER *****/ 

.footer{
    width: 100%;
    background-color: #000000;
    color: #FFFFFF;
    font-size: 1rem;
    text-align: center;
    padding: 2em 0;
    margin-top: 2em;
}

.link-list {
    padding:0;
}

.link-list li {
    list-style:none;
    display: inline-block;
    margin: 0.5em auto;
    
    
}
.right-border {
    border-right: 2px solid #FFFFFF;
    padding: 0 0.5rem;
}

a {
    color: #ffffff;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

a:visited {
    color: #FFFFFF
}

